body {
	background-color: #f0f8ff;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	height: 100vh;
	margin: 0;
}

/* アプリ名 */
.apptitle {
	margin: 20px 0 0 0;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #333;
}

/* アプリ説明文 */
.subtitle {
	margin: 20px 0 0 0;
	text-align: center;
	font-size: 17px;
	color: #333;
}

/* 画像/例 div */
.organize  {
	display: flex;
    align-items: center;
	margin: 5px 0 0;
}

/* 画像 */
img {
	display: inline-block;
    width: 60px;
    height: 60px;
	margin-right: 8px;
}

/* 例文 */
.ex {
	display: inline-block;
	margin: 0;
	font-size: 17px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 0 0 0;
	gap: 20px;
}

/* form入力欄 */
.first-input {
	width: 300px;
    height: 25px;
    padding: 5px;
    font-size: 16px;
}

/* form ボタン */
.create-btn {
	width: 150px;
    height: 35px;
	text-align: center;
	font-size: 16px;
	font-weight:bold;
	color: rgb(61, 60, 60);
	background-color: rgb(255, 106, 0);
	padding-block: 1px;
    padding-inline: 6px;
    border-width: 1px;
	border-color: buttonborder;
}

/* メニュータイトル */
.menu {
	margin: 20px 0 0 0;
	text-align: center;
	font-size: 25px;
	color: #333;
}

/* 生成表示欄 */
.result {
    width: 350px;
    height: 220px;
    margin: 10px 0 0;
	padding: 0;
	vertical-align: top;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    white-space: pre-wrap;
    background-color: rgb(99, 175, 99);
    border: 5px solid rgb(255, 128, 0);
}