<!DOCTYPE html>
<html lang="ja">
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>料理の名案</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	<link rel="icon" href="{{ url_for('static', filename='cookingicon.jpg') }}" type="image/jpg">
</head>
<body>
	<p class="apptitle">料理の名案</p>
	<p class="subtitle">
		どういった料理が食べたいかを入力すると<br>
		AIが料理のアイデアを出してくれます！
	</p>
	<div class="organize">
		<img src="{{ url_for('static', filename='dish.jpg') }}" alt="">
		<p class="ex">例：中華料理、揚げ物料理など...</p>
	</div>
	<form action="/" method="post">
		<input type="text" name="food" class="first-input" placeholder="食べたい料理を入力" required />
		<input type="submit" value="メニューを考案" class="create-btn" />
	</form>
	<p class="title"> 今日のご飯のメニューは？</p>
    <p class="result">
        {% if result %}
            {{ result }}
        {% endif %}
    </p>
</body>
</html>